h2{
  padding-bottom: 25px;
}

.gallery {
    margin-top: 16%;
    display: block;
    overflow: hidden;
}

.btn{
  margin: -5px;
  padding-bottom: -5px;
}

input{
  background-color: lightgrey;
}
nav{
  z-index: 1;
  position:fixed;
  margin-bottom: 5px;
}
form {
    background-color: white;
    margin-top:4%;
    position:fixed;
    top:2%;
    right:2%;
}

.clicked {
  border: 1px solid Blue
}

/*.grid-item { width: 200px; }*/

footer{
  margin-top: -10px;
}

.output img{
  max-height:100%;
  max-width: 50%;
  overflow: hidden;
  object-fit: cover;
}
.collage img{
  max-height:100%;
  /*max-width: 50%;*/
  overflow: hidden;
  object-fit: cover;
}

.img-cropper {
    height: 200px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}


body {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: "#e8eaf6";
    z-index: 3;

}



main {
    flex: 1 0 auto;
}
.container{
  background-color: "#e8eaf6";
}

.btn{
  margin:25px;
}

textarea{
  font-size: 26px;
}

#map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ---- NEW NEW ---- */

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 45%;
}

.grid-item {
  float: right;
}

.grid-item img {
  display: block;
  width: 100%;
}
